
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATIX OUTFITS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
<h1>ATIX OUTFITS</h1>
<nav>
<a href="/">Home</a>
<a href="#">Shop</a>
<a href="#">Shirts</a>
<a href="#">T-Shirts</a>
<a href="#">About</a>
<a href="#">Contact</a>
<a href="#">Cart</a>
</nav>
</header>
{% block content %}
{% endblock %}
<footer>
<p>© 2026 ATIX OUTFITS</p>
</footer>
</body>
</html>